<?xml version='1.0'?>

<model>
  <name>Corredor</name>
  <version>1.0</version>
  <sdf version="1.5">corredor.sdf</sdf>
  <author>
    <name>Lucas Falcão</name>
    <email>falcao.lucas@ufba.br</email>
  </author>
  
  <description>
    Corredor do departamento de Engenharia Elétrica da Escola Politécnica da UFBA
  </description>

</model>
